@import "/src/mixsin.scss";

.space-between{
    justify-content: space-between;
    z-index: 7;
}
.input-search{
    border:0;
    width: 250px;
    height: 30px;
    margin-left: 30px;
    
    &:focus{
        border:0;
    }
}
.fa-magnifying-glass{
    position: absolute;
    top:7px;
    left:2px;
    color:rgb(176, 176, 176);
}

.user-details{
    justify-content: space-around;
    width: 20%;
    color:rgb(176, 176, 176);
}

#lang{
    border: 0;
}

.img-style{
    width: 28px;
}

.user-name{
    div{
        color:black;
    }
}
.icon-color{
    &:hover{
        color:color(primary);
        font-weight: 600;
        cursor: pointer;
    }
}