<div class="side-menu">

    <div class="logo-setting">
        
        <button>
            <div class="logo-style">
                <i class="fa-solid fa-cube"></i>
            </div>
        </button>

        <button>
            <div class="logo-style">
                <i class="fa-solid fa-chart-simple"></i>
            </div>
        </button>
        
        <button>
            <div class="logo-style">
                <i class="fa-solid fa-square-plus"></i>
            </div>
        </button>

        <button>
            <div class="logo-style">
                <i class="fa-solid fa-check"></i>
            </div>
        </button>

        <button>
            <div class="logo-style">
                <i class="fa-solid fa-gear"></i>
            </div>
        </button>

        <button>
            <div class="logo-style">
                <i class="fa-solid fa-download"></i>
            </div>
        </button>
    </div>

    <div></div>
</div>